[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
Pillow = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
django-cors-headers = "*"
requests = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.12"
