/*.......Burger.......*/

.burger {
  height: 2rem;
  width: 3rem;
  margin: 1rem 0 0 1rem;
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  z-index: 200;
}

@media only screen and (max-width: 600px) {
  .burger {
    display: flex;
  }
}

.burger-bar {
  width: 2rem;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: var(--color-primary);
}

.burger-bar:nth-child(1) {
  margin-top: 0.2rem;
}
.burger-bar:nth-child(2) {
  width: 1.5rem;
}
.burger-bar:nth-child(3) {
  margin-bottom: 0.1rem;
}

/*.......Burger animations.......*/
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.25rem, 1.05rem) scale(0.8);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0.001);
  transition: ease-out 0.5s;
}
.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(0.1rem, 0.75rem) scale(0.8);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

/* animetion */

@keyframes slideIn {
  0% {
    opacity: 0;
    left: -15rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    left: 0rem;
  }
  100% {
    opacity: 0;
    left: -15rem;
  }
}
