.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-background);
  overflow: hidden;
}

.header-bg {
  max-width: 40vw;
  object-fit: cover;
}


.header h1 {
  font-size: 3rem;
  margin: 1rem 0 2rem 0;
  line-height: 110%;
  color: var(--color-primary-dark);
  font-weight: 700;
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.header h2 {
  font-size: 2.5rem;
  margin: 1rem 0 2rem 0;
  line-height: 110%;
  color: var(--color-text);
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 1s;
}
.header button {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  margin: 0;
  color: var(--color-background);
  background-color: var(--color-primary);
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: 1s;
  padding: 1rem;
  border-radius: 1rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .header-content {
    align-items: center;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
  .header-bg {
    max-width: 40vh;
    object-fit: cover;
  }
  .header h1 {
    font-size: 10vw;
  }
  .header h2 {
    font-size: 7vw;
  }

  .header button {
    font-size: 4vw;
  }
}
